# Application Secret
JWT_SECRET="college_gatepass_super_secret_key_2026"

# Brevo (Sendinblue) Transactional REST API (Primary for 2-Step OTP Verification)
BREVO_API_KEY="YOUR_BREVO_API_KEY"
BREVO_SENDER_EMAIL="your_verified_email@gmail.com"
BREVO_SENDER_NAME="SBJIT,NAGPUR"

# Green API WhatsApp Gateway Configurations
GREEN_API_URL="https://7107.api.greenapi.com"
GREEN_API_INSTANCE_ID="710722683037"
GREEN_API_TOKEN="YOUR_GREEN_API_TOKEN"

# MongoDB Atlas Database Configuration
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.yy8zsav.mongodb.net/college_gatepass?retryWrites=true&w=majority&appName=Cluster0"
